<!DOCTYPE html>
<html>
<!-- <meta http-equiv="refresh" content="5"> -->
    <head>
        <link type="text/css" rel="stylesheet" href="/static/main.css" />
        <link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css' />
        <title>
            {{player.name}}
        </title>
    </head>
    <body>
        <div id="container">
            <a href="/" id="headerlink"><h1 id="header">CSH Sports</h1></a>
            <div id="navbg">
                <ul id="nav">
                    <li><a href="/admin">Home</a></li>
                    <li><a href="/addteams">Add Teams</a><li>
                    <li><a href="/changeseason">Change Season</a><li>
                    <li><a href="/">Back To CSHSports</a></li>
                </ul>
                <ul id="nav">
                    <li id="logout"><a href="/logout">Logout</a><li>
                </ul>
            </div>

            <div id="admin">
                <h3>CSH Sports is currently on season {{season}}</h3>
                {% if teams %}
                <h4>Current CSH Sports teams:</h4>
                {% for team in teams %}
                <p>{{team.name}}</p>
                {% endfor %}
                {% endif %}
            </div>

            <div id="footer">
                <p>Created by Tal Cohen</p>
            </div>
            <div id="format">
            </div>
        </div>
    </body>
</html>
