<!DOCTYPE html>
<html>
<!-- <meta http-equiv="refresh" content="5"> -->
    <head>
        <link type="text/css" rel="stylesheet" href="/static/main.css" />
        <link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css' />
        <title>
            Admin
        </title>
    </head>
    <body>
        <div id="container">
            <a href="/" id="headerlink"><h1 id="header">CSH Sports</h1></a>
            <div id="navbg">
                <ul id="nav">
                    <li><a href="/admin">Home</a></li>
                    <li><a href="/addteams">Add Teams</a><li>
                    <li><a href="/changeseason">Change Season</a><li>
                    <li><a href="/">Back To CSHSports</a></li>
                </ul>
                <ul id="nav">
                    <li id="logout"><a href="/logout">Logout</a><li>
                </ul>

            </div>




            <div id="form">
                <form name="input" method="POST" action = "/changeseason/make/">
                    <h3>CSH Sports is currently on season {{season}}</h3>
                    <p>Please select one of the following:</p>
                    {% csrf_token %}
                    <p>Go to <span style="text-decoration:underline">next</span> season <input type="radio" name="choice" value="forward" /></p>
                    <p>Go to <span style="text-decoration:underline">previous</span> season <input type="radio" name="choice" value="back" /></p>
                    <input type="submit" value="Submit" />
                </form>
            </div>



            <div id="footer">
                <p>Created by Tal Cohen | View on <a href="https://github.com/TalCohen/CSHSports" id="git" target=_blank>GitHub</a></p>
            </div>
            <div id="format">
            </div>
        </div>
    </body>
</html>
