<!DOCTYPE html>
<html>
<!-- <meta http-equiv="refresh" content="5"> -->
    <head>
        <link type="text/css" rel="stylesheet" href="/static/main.css" />
        <link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css' />
        <title>
            Admin
        </title>
    </head>
    <body>
        <div id="container">
            <h1 id="header"><a href="/" id="headerlink">Admin</a></h1>
            <div id="navbg">
                <ul id="nav">
                    <li><a href="/">Back To CSH Sports</a></li>
                </ul>
            </div>
            <div id="form">
                {% if invalid %}
                    <p>Invalid username and/or password. Please try again.</p>
                {% endif %}
                <form name="input" method="POST" action = "/admin/">
                    {% csrf_token %}
                    Username: <input type="text" name="user" />
                    Password: <input type="password" name="pwd" />
                    <input type="submit" value="Submit" />
                </form> 
            </div>
            <div id="footer">
                <p>Created by Tal Cohen (tcohen@csh.rit.edu) | View on <a href="https://github.com/TalCohen/CSHSports" id="git" target=_blank>GitHub</a></p>
            </div>
            <div id="format">
            </div>
        </div>
    </body>
</html>
