<!DOCTYPE html>
<html>
<!-- <meta http-equiv="refresh" content="5"> -->
    <head>
        <link type="text/css" rel="stylesheet" href="/static/main.css" />
        <link href='http://fonts.googleapis.com/css?family=Domine:400,700' rel='stylesheet' type='text/css' />
        <link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css' />
        <title>
            {{team.name}}'s Schedule
        </title>
    </head>
    <body>
        <div id="container">
            <h1 id="header"><a href="/" id="headerlink">CSH Sports</a></h1>
            <div id="navbg">
                <ul id="nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="/allteams">All Teams</a></li>
                    {% for team in teamList %}
                        <li><a href="/team/{{team.id}}/schedule">{{team.name}}'s Schedule</a></li>
                    {% endfor %}
                </ul>
                <a href="/login/" id="locklink"><img src="/static/lock.png" id="lock"/></a>
            </div>
            <div class="player">
                <a href="/team/{{team.id}}" id=teamlink>
                <img src="{{team.picture}}"/>
                <div class="name">
                    <h3>{{team.name}} {% if team.rank %} <span class="rank">({{team.rank}})</span> {% else %} (Disbanded) {% endif%}</h3>
                    <p class="score">{{team.sport}}</p>
                    <p class="wlt" title="W - L - T">{{team.wins}} - {{team.losses}} - {{team.ties}}</p>
                </div>
                </a>
                <div class="nextgame">
                        <p class="next">Next Game:</p>
                        {% if matchupnext %}
                            <p class="upcoming">{{matchupnext.clean_date}}</p>
                            <p class="upcoming">{{matchupnext.upcoming}}</p>
                        {% else %}
                            <p class="upcoming"><br></p>
                            <p class="upcoming">No Upcoming Games</p>
                        {% endif %}
                </div>
            </div>
            <div class="matchupheader">
                <h2>Schedule</h2>
                <h3>{{team.sport}} {{year}}</h3>
            </div>
            {% for matchup in matchups %}
                {% if matchup.outcome %}
                <div class="player match happened">
                    <img src={{matchup.enemy.picture}}>
                    <div id="spacing"></div>
                    <div class="name">
                        <h3>{{matchup.enemy.name}} {% if matchup.enemy.rank %} <span class="rank">({{matchup.enemy.rank}})</span> {% endif%}</h3>
                        <p class="wlt" title="W - L - T">{{matchup.enemy.wins}} - {{matchup.enemy.losses}} - {{matchup.enemy.ties}}</p>
                    </div>
                    <div class="nextgame">
                            <p class="outcome">{{matchup.outcome}}</p>
                            <p class="outcomescore words">Score</p>
                            <p class="outcomescore numbers">{{matchup.cshScore}} - {{matchup.enemyScore}}</p>
                    </div>
                </div>
                {% else %}
                <div class="player match">
                    <img src={{matchup.enemy.picture}}>
                    <div id="spacing"></div>
                    <div class="name">
                        <h3>{{matchup.enemy.name}} {% if matchup.enemy.rank %} <span class="rank">({{matchup.enemy.rank}})</span> {% endif %}</h3>
                        <p class="wlt" title="W - L - T">{{matchup.enemy.wins}} - {{matchup.enemy.losses}} - {{matchup.enemy.ties}}</p>
                    </div>
                    <div class="nextgame">
                            <p class="next">Date:</p>
                            <p class="upcoming">{{matchup.clean_date}}</p>
                            <p class="upcoming">{{matchup.upcoming}}</p>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
            <div id="footer">
                <p>Created by Tal Cohen (tcohen@csh.rit.edu) | View on <a href="https://github.com/TalCohen/CSHSports" id="git" target=_blank>GitHub</a></p>
            </div>
            <div id="format">
            </div>
        </div>
    </body>
</html>
