<!DOCTYPE html>
<html>
<!-- <meta http-equiv="refresh" content="5"> -->
	<head>
		<link type="text/css" rel="stylesheet" href="main.css" />
		<link href='http://fonts.googleapis.com/css?family=Domine:400,700' rel='stylesheet' type='text/css' />
		<link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css' />
		<title>
			Players
		</title>
	</head>
	<body>
		<div id="container">
			<h1 id="header">CSH Sports</h1>
			<div id="navbg">
				<ul id="nav">
					<li><a href="index.html">Home</a></li>
					<li><a href="second.html">Second</a></li>
					<li><a href="third.html">Third</a></li>
					<li><a href="fourth.html">Fourth</a></li>
					<li><a href="fifth.html">Fifth</a></li>
				</ul>
			</div>






			<div class="player">
				<img src="player.png"/>
				<div id="name">
					<h3>John Doe</h3>
					<p>Male</p>
				</div>
			</div>

			<div class="sport width2">
				<a href="soccer.html">
					<div id="soccer">
						<h3>The Mighty Ducks</h3>
						<img src="team.png"/>
						<p class="score">Soccer</p>
						<p class="wlt">0 - 0 - 0</p>
						<p class="next">Next Game:</p>
						<p class="upcoming">Saturday, January 12</p>
						<p class="upcoming">4:00 PM</p>
					</div>
				</a>
			</div>
			<div class="sport width2">
				<a href="soccer.html">
					<div id="broomball">
						<h3>Minesweepers</h3>
						<img src="team.png"/>
						<p class="score">Broomball</p>
						<p class="wlt">0 - 0 - 0</p>
						<p class="next">Next Game:</p>
						<p class="upcoming">Sunday, January 13</p>
						<p class="upcoming">7:00 PM</p>
					</div>
				</a>
			</div>


		<!-- 	<div class="player">
				<h3>John Doe</h3>
				<img src="player1.png"/>
				<p>Male</p>
				<p id="team">Teams:</p>
				<div class="teams">
					<p>Soccer</p>
					<p class="score">0 - 0 - 0</p>
					<p class="wlt">W - L - T</p>
				</div>
				<div class="teams">
					<p>Broomball</p>
					<p class="score">0 - 0 - 0</p>
					<p class="wlt">W - L - T</p>
				</div>
				<div class="upcoming">
					<p>Soccer</p>
					<p>4:00 PM</p>
					<p>Saturday, January 12th</p>
				</div>
				<div class="upcoming">
					<p>Broomball</p>
					<p>8:30 PM</p>
					<p>Sunday, January 13th</p>
				</div>
			</div> -->

			<div id="footer">
				<p>Created by Tal Cohen</p>
			</div>
			<div id="format">
			</div>
		</div>
	</body>
</html>