* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	width: 100%;
}

#navbg {
	background-color: #5ba215;
	padding-top: 10px;
	padding-bottom: 10px;
}

#nav {
	list-style-type: none;
	margin: 0 auto;
	width: 443px;
/*	background-color: red;
	uncomment when changing anything about nav bar
*/
}

#nav li {
	display: inline;
}

#nav a {
	color: white;
	background-color: #222222;
	text-decoration: none;
	font-family: 'Oxygen', sans-serif;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 4px;
	font-weight: bold;
}

#nav a:hover {
	color: #5ba215;
}

#header {
	padding-top: 30px;
	padding-bottom: 30px;
	font-family: 'Domine', serif;
	text-align: center;
	color: #498211;
	font-size: 300%;
}

#container {
	margin: 0 auto;
	width: 1200px;
	background: white;
	min-height: 100%;


}

body { 
	background-image: url('background.png');
}
