<!DOCTYPE html>
<html>
<!-- <meta http-equiv="refresh" content="5"> -->
	<head>
		<link type="text/css" rel="stylesheet" href="main.css" />
		<link href='http://fonts.googleapis.com/css?family=Domine:400,700' rel='stylesheet' type='text/css' />
		<link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css' />
		<title>
			CSH Sports
		</title>
	</head>
	<body>
		<div id="container">
			<h1 id="header">CSH Sports</h1>
			<div id="navbg">
				<ul id="nav">
					<li><a href="index.html">Home</a></li>
					<li><a href="second.html">Second</a></li>
					<li><a href="third.html">Third</a></li>
					<li><a href="fourth.html">Fourth</a></li>
					<li><a href="fifth.html">Fifth</a></li>
				</ul>
			</div>
		</div>
	</body>
</html>